@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
}
body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(110.2deg, rgba(203, 193, 253, 0.8) 7%, rgba(160, 168, 240, 0.8) 36.37%, rgba(151, 135, 203, 0.8) 55.83%, rgba(85, 61, 139, 0.8) 83.36%), linear-gradient(180.21deg, #FEF2FF 0.19%, #A0A8F0 27.03%);;
  overflow: hidden;
  color: #553d8b;
}
#header{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}
#nav-bar{
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #CBC1FD;
  border-bottom: 2px solid #553D8B;
}
#buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#main-logo{
  width: 67px;
  height: 67px;
}
#name{
  position: flex;
  display: flex;
  width: 216px;
  height: 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #A0A8F0;
  border-radius: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  height: 45.83px;
  color: #553d8b;
}
#portfolio-list{
  width: 272.41px;
  cursor: pointer;
}
#favorite{
  width: 166.02px;
  cursor: pointer;
}
#chat{
  display: flex;
  align-items: center;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #CBC1FD;
}
#notice{
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #CBC1FD;
}
#profile{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
}
#profile-picture{
  border: 2px solid#FEF2FF;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: -5px;
}
#logout{
  width: 179.61px;
  cursor: pointer;
}
#enter{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
::placeholder{
  color: #553D8B;
}
.holder{
  width: 1400px;
  margin: 0px auto;
}
.hero{
    margin: 35px auto;
    max-width: 1400px;
    width: 100%;
    height: 2030px;
    max-height: 85vh;
    background: #FEF2FF;
    border-radius: 50px;
}
.to-right{
  margin-left: 60px;
  margin-bottom:53vh;
}
#project{
  display: flex;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: -10px;
  background: #CBC1FD;
  border-radius: 54px;
  width: 228.56px;
  height: 53.83px;
  padding: 10px;
  font-size: 20px;
  line-height: 22px;
  align-items: center;
  justify-content: center;
}
.tabs {
    position:fixed;
    width:60vw;
    height:60vh;
    display:flex;
    justify-content: left;
    margin-left: 68px;
    top: 22vh;
  }
  .tabs .tab-header {
    width:200px;
    height:100%;
    text-align: center;
    justify-content: center;
  }
  .tabs .tab-header div {
    position:relative;
    height:25%;
    border:1px solid #553D8B;
    border-radius: 20px;
    font-weight:400;
    font-size:18px;
    padding:0px 20px;
    display:flex;
    align-items:center;
    cursor:pointer;
  }
  .tabs .tab-header div:before {
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:0%;
    height:100%;
    background:#A0A8F0;
    z-index:-1;
    border-radius: 20px;
  }
  
  .tabs .tab-header div.active {
    color:#FEF2FF;
  }
  .tabs .tab-header div.active:before {
    left:0px;
    width:100%;
    transition:all 300ms ease-in-out;
  }
  .tabs .tab-header div.active:after {
    left:calc(100% - 15px);
    transition:all 100ms ease-in-out 300ms;
  }
  .tabs .tab-body {
    margin:0 auto;
    transition:all 400ms ease-in-out;
  }
  .tabs .tab-body > div {
    margin-left: 100px;
    width:40vw;
    height:120vh;
    padding: 40vh 0vh;
    position: relative;
    top: -40vh;
    flex-direction: column;
}
  .tabs .tab-body div h2 {
    font-size:40px;
    width: 1000px;
    margin-bottom:10px;
    color:#553D8B;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs .tab-body div p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs .tab-body div h3{
    font-size:22px;
    color:#553D8B;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .tabs .tab-body div a{
    width: 740px;
  background-color: #FEF2FF;
  color: #553D8B;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  padding: 3px;
  border: 1px solid #553D8B;
  border-radius: 10px;
    padding-top: 5px;
  }
  .url-block{
    margin-top: 15px;
  }
  .nails1{
    width: 170px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #nails{
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #resnici{
    width: 370px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .browi{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
  }
.description{
  display: flex;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #553D8B;
  background-color: #FEF2FF;
  color: #553D8B;
  resize: none;
  font-size: 18px;
}
.img-container{
  width: 90%;
  margin: 20px auto 30px auto;
}
.img-container img{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  border-radius: 20px;
}
figcaption{
  margin: 10px 0 -25px 0;
  text-align: center;
}
input[type="file"]{
  display: none;
}
label{
  display: block;
  position: relative;
  background-color: #A0A8F0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 400px;
  padding: 8px 0;
  border-radius: 54px;
  border: none;
  margin: auto;
  cursor: pointer;
  line-height: 22px;
}
.project-url{
  width: 740px;
  background-color: #FEF2FF;
  color: #553D8B;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  padding: 3px;
  border: 1px solid #553D8B;
  border-radius: 10px;
}
#save-project{
  padding: 8px;
  height: 32.83px;
  background: #A0A8F0;
  border-radius: 54px;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: none;
  color: #553D8B;
  width: 200px;
}
.project-name{
  font-size:40px;
  width: 840px;
  background-color: #FEF2FF;
  margin: auto;
  color:#553D8B;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: 1px solid #553D8B;
  border-radius: 10px;
}
.project{
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button:hover{
    filter: brightness(0.9);
  }
  button:active{
    transform: translateY(2px);
  }
/*sdasdadasd*/
.like-button .heart-icon {
  height: 100px;
  width: 100px;
  background: url("../img/img.png");
  background-position: left;
  cursor: pointer;
}

.like-button .heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.like-button .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.like-button .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.like-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.like-button .likes-amount {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}