@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
}
body{
  background: linear-gradient(110.2deg, rgba(203, 193, 253, 0.8) 7%, rgba(160, 168, 240, 0.8) 36.37%, rgba(151, 135, 203, 0.8) 55.83%, rgba(85, 61, 139, 0.8) 83.36%), linear-gradient(180.21deg, #FEF2FF 0.19%, #A0A8F0 27.03%);;
  overflow: hidden;
  color: #553d8b;
  min-width: 1290px;
  min-height: 100vh;
}
#header{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}
#nav-bar{
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #CBC1FD;
  border-bottom: 2px solid #553D8B;
}
#buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#main-logo{
  width: 67px;
  height: 67px;
}
#name{
  position: flex;
  display: flex;
  width: 216px;
  height: 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #A0A8F0;
  border-radius: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  height: 45.83px;
  color: #553d8b;
}
#portfolio-list{
  width: 272.41px;
  cursor: pointer;
}
#favorite{
  width: 166.02px;
  cursor: pointer;
}
#chat{
  display: flex;
  align-items: center;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #CBC1FD;
}
#notice{
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #CBC1FD;
}
#reg{
  width: 204.6px;
  cursor: pointer;
}
#profile-picture{
  border: 2px solid#FEF2FF;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: -5px;
}
#log{
  width: 101.71px;
  cursor: pointer;
}
#enter{
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
/*.hero h2{*/
/*  width: 773px;*/
/*  height: 40px;*/
/*  font-weight: 400;*/
/*  font-size: 36px;*/
/*  line-height: 40px;*/
/*  margin: 13% 17%;*/
/*}*/
.search-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  background: #CBC1FD;
  width: 100%;
  max-width: 1290px;
  height: 85px;
  border: 1px solid #553D8B;
  border-radius: 20px;
}
.search-box input{
  background: none;
  flex: 1;
  border: none;
  outline: none;
  padding: 0;
  color: #553D8B;
  font-size: 25px;
  margin-left: 30px;
  transition: 0.4s;
  line-height: 40px;
}
::placeholder{
  color: #553D8B;
}
.holder{
  width: 1290px;
  margin: 0px auto;
}
#search-btn{
  border: none;
  border-radius: 50%;
  background: #CBC1FD;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}
#filter-btn{
  background: #CBC1FD;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  list-style: none;
}
.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 380px;
  position: relative;
}
#logout{
  width: 179.61px;
  cursor: pointer;
}
.list{
  width: 100%;
  background-color: #A0A8F0;
  border-radius: 0 0 5px 5px;
  margin: 0 auto
}
.list-items {
  padding: 20px 10px;;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid #553D8B;
  margin-bottom: 5px;
}
.list-items:hover {
  background-color: #CBC1FD;
}
.user-block{
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin-top: 5px;
  margin-left: 320px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  background-color: #CBC1FD;
  border-radius: 10px;
}
#user{
  display: flex;
  padding: 5px 5px;
  margin-left: -50px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #553D8B;
  text-align: center;
}
#user:hover{
  filter: brightness(0.9);
}
#line{
  width: 100vw;
}
.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.about a{
  margin: 10px 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
button:hover{
  filter: brightness(0.9);
}
button:active{
  transform: translateY(2px);
}
#tagline{
  position: relative;
  width: 773px;
  height: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  top: 260px;
  left: 15%;
  align-items: center;
}
.hero{
  display: flex;
  flex-direction: column;
}
.search-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  background: #CBC1FD;
  width: 100%;
  max-width: 1290px;
  height: 85px;
  border: 1px solid #553D8B;
  border-radius: 20px;
}