{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
  </head>
  <body>
    <main>
		<header>
			<a href="{% url 'home' %}">
                <div class="title">
                    <img src="{% static 'img/logo.png' %}" width="45px">
                    <h1 id="name">HireMeNow</h1>
                </div>
            </a>
			<button type="button">
				<img src="{% static 'img/hamburger.png' %}" width="50px">
			</button>
		</header>
		<div class="container">
			<div class="users-window">
				<div class="users-head">
					<h3>Пользователи:</h3>
                    <h4>{{ users.count }}</h4>
				</div>
                {% for user in users %}
                    {% if request.user != user %}
                    <div class="users-list">
                        <a href="{% url 'chat' user.id%}"><p>{{ user.username }}</p></a>
                    </div>
                    {% endif %}
                {% endfor %}
			</div>
			<div class="chat-window">
				<div class="chats">
					<div class="user-join">
						<p>Диалог с <b>{{ opponent.username }}</b></p>
					</div>
                    {% for message in dialogue_messages %}
                        {% if message.sender == request.user%}
                            <div class="message incoming">
                                <p>{{ message.body }} <small>{{ message.created|timesince }} ago</small> </p>

                            </div>
                        {% else %}
                            <div class="message outgoing">
                                <p>{{ message.body }} <small>{{ message.created|timesince }} ago</small> </p>

                            </div>
                        {% endif %}
                    {% endfor %}
				</div>
				<form class="user-input" method="POST">
                    {% csrf_token %}
					<input id="main-input" type="text" name="text" placeholder="Напишите сообщение...">
					<label id="clip">
						<input type="file">
					</label>
				<button type="submit" id="send-btn">ОТПРАВИТЬ</button>
				</form>
			</div>
		</div>
	</main>
   </body>
</html>

