{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
      <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  </head>
  <body>
    <main>
		<header>
			<a href="{% url 'home' %}">
                <div class="title">
                    <img src="{% static 'img/logo.png' %}" width="45px">
                    <h1 id="name">HireMeNow</h1>
                </div>
            </a>
			<a href="{% url 'chat_template' %}" type="button">
				<img src="{% static 'img/hamburger.png' %}" width="50px">
			</a>
		</header>
		<div class="container">
			<div class="users-window">
				<div class="users-head">
					<h3>Пользователи:</h3>
                    <h4>{{ users.count }}</h4>
				</div>
                {% for user in users %}
                    {% if request.user != user %}
                    <div class="users-list">
                        <a href="{% url 'chat' user.username%}"><p>{{ user.username }}</p></a>
                    </div>
                    {% endif %}
                {% endfor %}
			</div>
        {% if inside %}
			<div class="chat-window">
				<div class="chats">
					<div class="user-join">
						<p>Диалог с <b>{{ opponent.username }}</b></p>
					</div>
                    <div class="messages-container">
                </div>
            </div>
				<form class="user-input" method="POST" id="post-form">
                    {% csrf_token %}
                    <input id="sender" value="{{ request.user.username }}" type="hidden"/>
                    <input id="getter" value="{{ opponent.username }}" type="hidden"/>
					<input id="main-input" type="text" name="text" placeholder="Напишите сообщение...">
				<button type="submit" id="send-btn">ОТПРАВИТЬ</button>
				</form>
			</div>
        {% else %}
            <div class="chat-window">
                <div class="chats">
                    <div class="user-join">
                        <p>Выберите собеседника</p>
                    </div>
                </div>
            </div>
        {% endif %}
		</div>
	</main>

    <script>
    $(document).ready(function(){
        var f = function(){
            $.ajax({
                type: 'GET',
                url : "/getMessages/{{opponent.username}}/",
                success: function(response){
                    $(".messages-container").empty();
                    for (var key in response.messages)
                    {
                        var temp;
                        if (response.messages[key].sender === '{{ request.user.username }}')
                            temp="<div class='message incoming'><p>" + response.messages[key].body + "</p><small>" + response.messages[key].created.substring(11, 16) +"</small></div>";
                        else
                            temp="<div class='message outgoing'><p>" + response.messages[key].body + "</p><small>" + response.messages[key].created.substring(11, 16) +"</small></div>";
                        $(".messages-container").append(temp);
                    }
                },
                error: function(){
                    console.log('An error occured')
                }
            })};
        f();
        setInterval(f,1500);
        })
    </script>

   </body>

    <script>
          $(document).on('submit','#post-form',function(e){
                e.preventDefault();
                $.ajax({
                      type:'POST',
                      url:'/send/',
                      data:{
                          sender:$('#sender').val(),
                          getter:$('#getter').val(),
                          body:$('#main-input').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                  },
                  success: function(){
                      console.log('succes')
                  }
                });
                document.getElementById('main-input').value = ''
          });
    </script>
</html>

