{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/edit-portfolio.css'  %}">
  </head>
  <body>
    <div id="nav-bar">
		<a href="{% url 'home' %}" id="header">
			<img id="main-logo" src="{% static 'img/logo.png' %}" alt="logo">
			<h1 id="name">HireMeNow</h1>
		</a>
		<div id="buttons">
			<button class="btn" id="portfolio-list">Список портфолио</button>
			<button class="btn" id="favorite">Избранное</button>
			<a href="{% url 'chat_template' %}" id="chat">
			<img src="{% static 'img/chat.png' %}" width="65px" alt="chat">
			</a>
			<button id="notice">
			<img src="{% static 'img/notice.png' %}" width="50px" alt="notice">
			</button>
			<div id="enter">
				<a href="{% url 'profile' request.user.username %}" class="btn" id="profile"><img id="profile-picture" src="{% static 'img/profile.png' %}" width="40px">Профиль</a>
				<a href="{% url 'logout' %}" class="btn" id="logout">Выйти</a>
			</div>
		</div>
	</div>
	<div class="hero">
          <div class="tabs">
            <div class="tab-header">
              <h2 id="project">Проекты</h2>
              <div class="active">Ногтевой сервис</div>
              <div>Ресничный сервис</div>
              <div>Коррекция бровей</div>
              <div>Студия макияжа</div>
            </div>
            <div class="tab-body">
              <div class="active">
                <h2>Ногтевой сервис</h2>
                <div id="nails">
                  <img class="nails1" src="{% static 'img/nails1.jpg' %}">
                  <img class="nails1" src="{% static 'img/nails 2.jpg' %}">
                  <img class="nails1" src="{% static 'img/nails3.jpg' %}">
                </div>
                <h3>Описание:</h3>
                <p>Меня зовут Анастасия и я профессиональный мастер ногтевого сервиса со стажем более 4-х лет!
                  С удовольствием предлагаю вам свои услуги по ногтевому сервису для дам и мужчин. 
                  Если вас интересуют красивые ухоженные ноготки, тогда нам точно стоит познакомиться! У меня имеется большая палитра гель-лака – более 100 оттенков! А также множество вариантов для украшения и дизайна вашего маникюра!
                  Есть возможность оказания услуг на дому (выезд). Для вашей и моей безопасности, в работе использую только проверенные материалы, стерильные инструменты по нормам СанПИН и одноразовые расходники, а также соблюдаю чистоту и провожу своевременную дезинфекцию на рабочем месте.
                  Чтобы записаться на удобное время, напишите мне в сообщения или позвоните по телефону, указанному в контактах!
                  </p>
                  <h3>Ссылка на продукт:</h3>
                   <p><a href="https://mst.link/caramel_ekb_beauty">https://mst.link/caramel_ekb_beauty</a></p>
              </div>
              <div>
                <h2>Ресничный сервис</h2>
                <div id="nails">
                  <img id="resnici" src="{% static 'img/resnici.jpg' %}">
                </div>
                <h3>Описание:</h3>
                <p>Если глаза – зеркало души, то ресницы – его оправа. Красивые глаза с густыми ресницами притягивают и манят, очаровывают и сводят с ума. Одним женщинам крупно повезло - они с рождения являются обладательницами густых, длинных и подкрученных ресниц. Другой части женского пола не так повезло: покупка туши, специальных приборов для подкручивания ресниц, их окрашивание, беспокойство за стойкость туши в ответственные моменты... 
                  Возможно, кто-то уже узнал себя? Однако спешу вас обрадовать. К счастью, на сегодняшний день все женщины без исключения могут стать обладательницами роскошных ресниц с помощью процедуры наращивания!
                  Итак, меня зовут Анастасия и я сертифицированный специалист по наращиванию ресниц. Чтобы записаться на удобное время, напишите мне в сообщения или позвоните по телефону, указанному в контактах!
                </p>
                  <h3>Ссылка на продукт:</h3>
                   <p><a href="https://mst.link/caramel_ekb_beauty">https://mst.link/caramel_ekb_beauty</a></p>
              </div>
              <div>
                <h2>Коррекция бровей</h2>
                <div id="nails">
                  <img class="browi" src="{% static 'img/browi.jpg' %}">
                  <img class="browi" src="{% static 'img/browi2.jpg' %}">
                </div>
                <h3>Описание:</h3>
                <p>Красивые брови подчеркивают форму глаз и могут изменить облик лица до неузнаваемости, а тень, отбрасываемая ими, придает глазам особую выразительность и красоту. 
                  Коррекция бровей дело очень тонкое и щепетильное. Коррекция формы бровей — хороший способ изменить внешность, не прибегая к пластической операции. Конечно, изменяя их форму, нельзя забывать об индивидуальных особенностях лица. Лучше всего делать брови у профессионала. Поддерживать форму всегда проще, чем сделать заново, тем более самостоятельно. Помните, что брови очень изменяют выражение лица. Брови — это слишком важно, чтобы ошибиться! Хорошая форма открывает глаза и скрывает следы усталости, делая взгляд молодым.Достаточно посещать специалиста хотя бы раз в несколько месяцев. Ведь самостоятельно подобрать контур бровей очень сложно.Чтобы записаться на удобное время, напишите мне в сообщения или позвоните по телефону, указанному в контактах!
                </p>
                  <h3>Ссылка на продукт:</h3>
                   <p><a href="https://mst.link/caramel_ekb_beauty">https://mst.link/caramel_ekb_beauty</a></p>
              </div>
              <div>
                <h2>Студия макияжа</h2>
                <div id="nails">
                  <img class="browi" src="{% static 'img/woman1.jpg' %}">
                  <img class="browi" src="{% static 'img/woman2.jpg' %}">
                  <img class="browi" src="{% static 'img/woman3.jpg' %}">
                </div>
                <h3>Описание:</h3>
                <p>Хотите выглядеть свежо и прекрасно каждый день? Тогда макияж лица - это именно то, что вам нужно!
                  Меня зовут Анастасия и я предлагаю широкий выбор продуктов, которые помогут создать идеальный образ в любой ситуации. Макияж не только подчеркнет вашу красоту, но и улучшит состояние кожи.  
                  Ко мне постоянно приходят женщины разных возрастов и профессий. Я учитываю индивидуальные особенности каждой клиентки и помогаем подобрать самые подходящие продукты.
                  Я использую только натуральные и безопасные компоненты, которые не вызывают аллергических реакций и не наносят вред коже! Не откладывайте свою красоту на завтра. Закажите мой макияж и наслаждайтесь улучшением своего облика прямо сейчас!
                  Чтобы записаться на удобное время, напишите мне в сообщения или позвоните по телефону, указанному в контактах!
                  </p>
                  <h3>Ссылка на продукт:</h3>
                   <p><a href="https://mst.link/caramel_ekb_beauty">https://mst.link/caramel_ekb_beauty</a></p>
              </div>
            </div>
          </div>
          <script src="{% static 'js/edit-portfolio.js' %}"></script>
	</div>
   </body>
</html>