{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div id="nav-bar">
		<a href="{% url 'home' %}" id="header">
			<img id="main-logo" src="{% static 'img/logo.png'%}" alt="logo">
			<h1 id="name">HireMeNow</h1>
		</a>
		<div id="buttons">
			<button class="btn" id="portfolio-list">Список портфолио</button>
			<button class="btn" id="favorite">Избранное</button>
			<a href="{% url 'chat_template' %}" id="chat">
			<img src="{% static 'img/chat.png' %}" width="65px" alt="chat">
			</a>
			<a href="{% url 'home' %}" id="notice">
			<img src="{% static 'img/notice.png' %}" width="50px" alt="notice">
			</a>
            {% if user.is_authenticated %}
            <div id="enter">
				<a href="{% url 'profile' request.user.username %}" class="btn" id="profile"><img id="profile-picture" src="{% static 'img/profile.png' %}" width="40px">Профиль</a>
				<a href="{% url 'logout' %}" class="btn" id="logout">Выйти</a>
			</div>
            {% else %}
			<div id="enter">
				<a href="{% url 'register' %}" class="btn" id="reg">Регистрация</a>
				<a href="{% url 'login' %}" class="btn" id="log">Вход</a>
			</div>
            {% endif %}
		</div>
	</div>
	<div class="hero">
		<div id="tagline">
			<h2>Построй свою карьеру вместе с нами!</h2>
		</div>
		<form autocomplete="off">
			<div class="search-box">
				<input id="input" type="text" placeholder="Введите имя пользователя">
				<button id="search-btn" type="submit"><img src="{% static 'img/search.png' %}" alt="search" width="85px"></button>
			<button id="filter-btn" type="submit"><img src="{% static 'img/filters.png' %}" alt="filters" width="40px"></button>
			</div>
			<ul id="list"></ul>
		</form>
		<script>
    var names = [
        {% for profile in profiles %}
            "{{ profile.fullName }}",
        {% endfor %}
    ]
    let sortedNames = names.sort();
    let input = document.getElementById("input");
    input.addEventListener("keyup", (e) => {
        removeElements();
        for (let i of sortedNames) {
          if (
            i.toLowerCase().includes(input.value.toLowerCase()) && input.value !== "") {
            let listItem = document.createElement("li");
            listItem.classList.add("list-items");
            listItem.style.cursor = "pointer";
            listItem.setAttribute("onclick", "displayNames('" + i + "')");
            let word = "<b>" + i + "</b>"
            listItem.innerHTML = word;
            document.querySelector("#list").appendChild(listItem);
          }
        }
      });
      function displayNames(value) {
        input.value = value;
        removeElements();
      }
      function removeElements() {
        let items = document.querySelectorAll(".list-items");
        items.forEach((item) => {
          item.remove();
        });
      }
        </script>
	</div>
	<div class="about">
		<hr size="5px" color="#553D8B" id="line"/>
		<a>О нас</a>
	</div>
   </body>
</html>

