{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
      <link rel="stylesheet" href="{% static 'css/no_underline.css' %}">
      <meta name="viewport" content="width=1520">
  </head>
  <body>
    <div id="nav-bar">
		<a href="{% url 'home' %}" id="header">
			<img id="main-logo" src="{% static 'img/logo.png'%}" alt="logo">
			<h1 id="name">HireMeNow</h1>
		</a>
		<div id="buttons">
			<a href="{% url 'portfolio-list' %}" class="btn" id="portfolio-list">Список портфолио</a>
			<a href="{% url 'favorite' %}" class="btn" id="favorite">Избранное</a>
			<a href="{% url 'chat_template' %}" id="chat">
			<img src="{% static 'img/chat.png' %}" width="65px" alt="chat">
			</a>
            {% if user.is_authenticated %}
            <div id="enter">
				<a href="{% url 'profile' request.user.username %}" class="btn" id="profile"><img id="profile-picture" src="{% static 'img/profile.png' %}" width="40px">Профиль</a>
				<a href="{% url 'logout' %}" class="btn" id="logout">Выйти</a>
			</div>
            {% else %}
			<div id="enter">
				<a href="{% url 'register' %}" class="btn" id="reg">Регистрация</a>
				<a href="{% url 'login' %}" class="btn" id="log">Вход</a>
			</div>
            {% endif %}
		</div>
	</div>
	<div class="hero">
		<div class="info">
			<div id="education">
				<h5 class="info-labels">Образование:</h5>
			</div>
			<p class="input-value">{{ user_profile.education }}</p>
			<div id="school-name">
				<h5>Наименование учебного заведения:</h5>
			</div>
			<p class="input-value">{{ user_profile.edu_base }}</p>
			<div id="contacts">
				<h5>Контактная информация:</h5>
			</div>
			<p class="input-value">{{ user_profile.contacts }}</p>
			<div id="fav-role">
				<h5>Желаемая должность:</h5>
			</div>
			<p class="input-value">{{ user_profile.level }}</p>
			<div id="skills">
				<h5>Навыки:</h5>
			</div>
			<p class="input-value">{{ user_profile.chars }}</p>
			<div id="exp">
				<h5>Опыт работы:</h5>
			</div>
			<p class="input-value">{{ user_profile.exp }}</p>
			</div>
		<div class="avatar-header">
			<img class="avatar" src="{{ user_profile.avatar.url }}"/>
            <h3 id="user-name">{{ user_profile.fullName }}</h3>
			<div class="btn-wrap">
            {% if request.user == user_profile.user %}
                {% if user_profile.resume %}
                    <a href="{{ user_profile.resume.url }}" class="avatar-header-btn" id="open-portfolio">Резюме</a>
                {% endif %}
				<a href="{% url 'edit-portfolio' %}" class="avatar-header-btn" id="edit-portfolio">Редактировать портфолио</a>
				<a href="{% url 'edit-profile' %}" class="avatar-header-btn" id="edit-profile">Редактировать профиль</a>
			{% endif %}
			<a href="{% url 'watch-portfolio' user_profile.user.username%}" class="avatar-header-btn" id="open-portfolio">Открыть портфолио</a>
            </div>
		</div>
	</div>
	</body>
</html>